sublime/.config/sublime-text-3/Packages/**
sublime/.config/sublime-text-3/Cache/**
sublime/.config/sublime-text-3/Index/**
sublime/.config/sublime-text-3/Local/**
0_package_control_loader.sublime-package-intermediate
0_package_control_loader.sublime-package-new
shell/.oh-my-zsh/custom/**
