alias aliases="vim ~/.aliases"
alias functions_custom="vim ~/.functions"

# for fish
alias !!="$history[1]"

# ls 
alias ll="ls -l"
alias la="ls -lah"

# cd 
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cdD="cd ~/Desktop"
alias cdd="cdD"

# remove dir
alias rmd="rm -rf"

# default open 
alias open=xdg-open

# find a command in history
alias gh="history|grep"

# compile c++
alias c++="g++ -std=c++11 -g -O2 -Wconversion -Wshadow -Wall -Wextra -D_GLIBCXX_DEBUG -c" 

# valgrind remapping
alias valgrind="valgrind --leak-check=full "

# git related aliases
alias gss="git status"
alias gc="git commit "
alias gcm="git commit -m "
alias ga="git add "
alias gpll="git pull"
alias gpss="git push"
alias gps="git push"
alias grm="git rm --cached "
alias gg="git graph"
alias gai="git add -i"
alias gd="git diff"
alias gd1="gd HEAD~1"
alias gd2="gd HEAD~2"
alias gd3="gd HEAD~3"
alias gck="git checkout"
alias gap="git add -p"
alias gcv="git commit -v"

# check weather
alias weather="gnome-weather"

# check what shell is being used
alias shell="screenfetch -n -N -d 'shell' | sed -e 's/ Shell: //' -"

# tree aliases
alias tree="tree -a -I 'node_modules|.git'"
alias tree1="tree -L 1"
alias tree2="tree -L 2"
alias tree3="tree -L 3"

# dotfiles alias
alias dotfiles="cd ~/.dotfiles"

# vimrc alias
alias vimrc="vim ~/.vimrc"

# start python virtual env
alias venv-start="source bin/activate"

# end python virtual env
alias venv-end="deactivate"

# check what networks are around you (after activating monitor mode with sudo airmon-ng <INTERFACE> (you can get the interface with sudo airmong-ng))
alias networks="sudo airodump-ng wlp1s0mon --m"
alias dos-start="~/Desktop/wifi-experiments/dos-start.sh"
alias dos-stop="~/Desktop/wifi-experiments/dos-stop.sh"

# python alias
alias python="python3"

# cd github
alias cdg="cd ~/Desktop/github"
alias cdG="cdg"

# cd resume
alias resume="cd ~/Desktop/github/resume"

