# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# make pdf from latex and open it
function latex() {
    local objname="${1%.*}"
    local srcname="$objname.pdf"
    pdflatex "${1}"
    pdflatex "${1}"
    open "$srcname"
}

# add a file and commit with a message
function gacm(){
    git add "$1"
    git commit -m "$2"
}

# add a file, commit with a message, and push
function gacmp(){
	gacm "$1" "$2"
    git push
}

# add a file, commit with a message, and push
function gcmp(){
	gcm "$1" 
    git push
}

# clone a repository and save the location to a file
function gcl(){
   git clone "$1"
   name_of_repo=$(echo "$1" | sed -e 's/git@github\.com:[a-zA-Z0-9]*\///g' -e 's/.git//g' -)
   if ! $? ; then
       parent_directory=$(pwd)
       full_path="$parent_directory/$name_of_repo"
       grep $name_of_repo ~/git-repos-globally.txt &>/dev/null || echo $full_path >> ~/git-repos-globally.txt
   fi
}

# initialize an empty repository and save the location to a file
function gi(){
   git init
    current_dir=$(pwd)
   echo $current_dir
   grep $current_dir ~/git-repos-globally.txt &>/dev/null || echo $current_dir >> ~/git-repos-globally.txt
}

# find all repositories in this system
function find-git(){
    repos=~/git-repos-globally.txt
    if [ -f "$repos" ] && [ -s $repos ] && [ "$1" != '-f' ]; then
        # repos file exists, is not empty, and the -f flag isn't being used
        cat $repos
        return 0
    else
       find ~ -name ".git" > ~/git-repos-globally.txt
       cat $repos
        return 127
    fi
}

# get all status from git repos in some folder
function find-git-status(){
    no_repos_changed=true
   if [ "$1" = "-f" ]; then
       echo "Creating a repositories index from scratch"
        find ~ -name ".git" > ~/git-repos-globally.txt
    elif find-git &>/dev/null; then
        echo "A repositories index has been found..."
    else
        echo "No repositores index found, creating one from scratch..."
        find ~ -name ".git" > ~/git-repos-globally.txt
    fi
    repos=( $(cat ~/git-repos-globally.txt) )
    for d in $repos; do
      cd $d/..;
      if ! git diff-index --quiet HEAD --; then
        echo `pwd`:;
        gss
        echo;
        no_repos_changed=false
      fi
    done
   if $no_repos_changed ; then
       echo "No repos have been found with untracked files"
   fi
    cd ~
}

# find names that contain string in name in current directory
function findlike(){
    find . -name "*$1*"
}


# change desktop background image
function set-background-desktop(){
    # to use add an image to below path and call
    # set-background-desktop [name-of-image]
    var="file:///home/matheth/Pictures/desktop-wallpapers/$1"
    echo $var
    gsettings set org.gnome.desktop.background picture-uri "$var"
}

# change lockscreen background image
function set-background-lockscreen(){
    # to use add an image to below path and call
    # set-background-lockscreen [name-of-image]
    var="file:///home/matheth/Pictures/desktop-wallpapers/$1"
    echo $var
    gsettings set org.gnome.desktop.screensaver picture-uri "$var"
}
